@layout("layouts/default")

@set('title', '🛑 Connexion failed')

@section("body")
  <div>
    <p class="subtitle">
      Connection failed
    </p>

    <ul>
      <li>
        <a href="/">home page</a>.
      </li>
    </ul>
  </div>
@end
